<!doctype html>
<html lang="en">
  <head>
      {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <title>SkyQuest</title>
  </head>
  <body>
      
    
<div class="container">
    <br>
    <div class="card" style="background-color: white; opacity: 80%; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
        <div class="card-body">
            <div class="container">
          <h4 class="card-title" style="color: black;"><b>DEMO WHATSAPP INTEGRATED APP FOR RATING</b></h4>
          <p class="card-text" style="color: black;"><b>Step 1:</b> If you are visiting this page for the first time then Click on register button. 
            It will redirect you to our whatsapp account. Send the pre-typed message(join found-straight) and register with us. Come back to our website to place order.</p>
          <p class="card-text" style="color: black;"><b>Step 2:</b> Enter your phone number & Place your order by clicking on "Place Your Order" button.</p>
          <p class="card-text" style="color: black;"><b>Step 3:</b> After placing order you will get message on your registered whatsapp number to rate us.</p>
        </div>
        </div>
      </div> <br>
</div>

<div class="container" style="text-align: center;">

  <div class="card" style="background-color: white; opacity: 80%; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
    <div class="card-body">
        <div class="container">
      <h5 class="card-title" style="color: black;"><b>If you are new register here!</b></h5>       
<a href="https://api.whatsapp.com/send?text=join found-straight&phone=14155238886">
  <button class="button">
    <span>Register Here</span>
  </button> </a>
  <br>
    </div>
    </div>
  </div> <br>

  
  <div class="card" style="background-color: white; opacity: 80%; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
    <div class="card-body">
        <div class="container">
      <h5 class="card-title" style="color: black;"><b>Place your order here!</b></h5>       
      <form method="POST" action="">
        {% csrf_token %}
        <p>Enter your phone number:</p>
        <input type="text" name="textfield"> <br>
        <button class="button" type="submit">Place Your Order</button>
        </form>      
    </div>
    </div> 
  </div>

</div>
<br> <br>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
